<button class='float-right btn btn-success' type='submit' (click)="signout()">SingOut</button>
<div class="col-md-3">
    <table class="table table-hover mt-4">
        <thead >
            <tr class="table-success">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>MobileNo</th>
                <th>Role</th>
                <th>Delete</th>
                <th>Update</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let user of users'>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phno}}</td>
                <td>{{user.role}}</td>
                <td><button type="submit" class="btn btn-outline-danger" (click)='delete(user)'>Delete</button></td>
                <td><button type="submit" class="btn btn-outline-warning" (click)='update(user)'>Update</button></td>

            </tr>
        </tbody>
    </table>
</div>